.markingmanagercontainer-footer {
    background-color: #dfdfdf;
    border-radius: 20px;
    color: #494949;
    overflow: hidden;
    padding: 5px 20px;
    max-width: 800px;
    margin: 50px auto 0;
}
.markingmanagercontainer-footer .markingmanager-version {
    color: black;
}
.markingmanagercontainer-footer > div {
    font-size: 12px;
    overflow: hidden;
    line-height: 26px;
}
.markingmanagercontainer-footer-left {
    float: left;
    width: 33.3%;
}
.markingmanagercontainer-footer-center {
    float: left;
    width: 33.3%;
    text-align: center;
}
.markingmanagercontainer-footer-right {
    float: right;
    width: 33.3%;
    text-align: right;
}
.markingmanagercontainer-footer-title {
    color: black;
}
a.markingmanagercontainer-footer-link {
    color: #0000EE;
}