table.fnmarkingblock td {

	border: 1px solid #555555;

}

table.fnmarkingblock tr.normal {

	background-color: #FFFFFF;

}

table.fnmarkingblock tr.normal {

	background-color: #FFFFFF;

}

table.fnmarkingblock tr.marking-total {

	background-color: #787878;
	
	color: white;

}

table.fnmarkingblock th.header {

	background: none;

	margin-left: 0;

	margin-right: 0;

	text-align: center;

}

table.fnmarkingblock th.topline {

	background-color: #787878;

	color: #FFFFFF;

	border-left: 1px solid #555555;

	border-right: 1px solid #555555;

	border-top: 1px solid #555555;

}

table.fnmarkingblock th.bottomline {

	border-left: 1px solid #555555;

	border-right: 1px solid #555555;

	border-bottom: 1px solid #555555;

	padding-left: 0;

	padding-right: 0;

	font-weight: normal;

}

span.fn_summaries {

	font-size: 0.9em;

}

.sideblock .content hr {

	line-height: 5px;

	vertical-align: middle;

}

/**** overright***/

#marking-interface {

	min-width: 850px;

	margin: 0 auto;

	background: #f3f3f3;

	border: 1px solid #a7a7a7;

}

#marking-interface table.markingmanagercontainer td.left-sec {

	padding: 15px 15px 0 15px;

	max-width: 200px;
	
	min-width: 170px

}

#marking-interface table.markingmanagercontainer td.right-sec {

	padding: 10px 15px 0 0;

	width: 605px;

}

table.markingmanagercontainer td.right-sec .paging {

	margin: 0 0 10px 0;

}

table.markingmanagercontainer td.right-sec .saprate-table {

	background: #cbd7e7;

	border: 2px solid #7092be;

	margin-bottom: 30px;

}

.saprate-table td.yellowcell{

	background: #ffff99;

}

.saprate-table td.bluecell{

	background: #cbd7e7;

}

table.saprate-table td.markingmanager-head {

	background: #7092be;

}

table.saprate-table td.marking_rightBRD {

	/* border-right: 1px solid #fff; */

}

td.markingmanager-head .name-date {

	margin: 0;

}

td.markingmanager-head .name-date td {

	padding: 0;

	color: #FFF;

}

td.markingmanager-head .name-date td.leftSide {

	font-size: 15px;

}

td.markingmanager-head .name-date td.rightSide {

	font-size: 11px;

}

table.saprate-table td.markingmanager-headB {

	background: #749511;

}

table.saprate-table td.markingmanager-headB table.resourse-tab {

	margin: 0;

	background: #ffff66;

}

table.saprate-table td.markingmanager-headB table.resourse-tab #Submission {

	background: #fff;

}

.activity-name {

	text-align: center;

	font-weight: bold;

	padding: 0px 5px 10px 5px;

}

table.saprate-table .grade-filter {

	margin: 0.5em 0 0.3em 0;

}

table.saprate-table .grade-filter #Grades {

	background: #fff;

}

table.saprate-table .grade-filter .fitem .fitemtitle {

	width: 50% !important;

}

table.saprate-table .grade-filter .fitem .felement {

	width: 44% !important;

	margin-left: 51% !important;

}

table.saprate-table .teacher-comments {

	background: #304c8a;

	margin-bottom: 0.5em;

}

table.saprate-table .teacher-comments .comment-boxs textarea {

	width: 100%;

}

.singleselect {

	display: inline-block;

	/*width: 140px !important;*/

}

.fnmarkingblock thead, .fnmarkingblock tbody td {

	border: 1px solid #555555 !important;

}

.no-assign {

	text-align: center;

	padding-top: 20px;

}

table.markingmanagercontainer td.right-sec .headTxt {

	text-align: center;

}

table.not-submitted {

	background: #C7E1FE;

	border: 1px solid #A7A7A7;

}

table.not-submitted td {

	border: 1px solid #A7A7A7;

}

table.not-submitted td.rightName {

	font-size: 13px;

	font-weight: bold;

}

h4.head-title {

	padding: 10px 10px 0;

	text-align: center;

}

.markingmanagercontainerList {

	background: #C7E1FE;

}

.markingmanagercontainerList .intd {

	padding: 0;

}

.markingmanagercontainerList table {

	margin-bottom: 0;

	border: 1px solid #A7A7A7;

}

.markingmanagercontainerList table td {

	margin-bottom: 0;

	border: 1px solid #A7A7A7;

}

.markingmanagercontainerList table th {

	background: #787878;

	border: 1px solid #A7A7A7;

	color: #FFF;

	font-size: 15px;

}

/**** overright***/



.block_fn_marking .content {

	padding: 10px !important;

}

.block_fn_marking .content ul.unlist li {

	margin-bottom: 4px;

}

.block_fn_marking .content ul.unlist li .icon {

	margin-right: 3px;

}

.markingmanagercontainer td.generalbox {

	background-color: #9dbb61;

}

.markingmanagercontainer td.generalbox2 {

	background-color: #C5EFFF;

}

#marking-interface table.markingmanagercontainer table.forumheaderlist {

	border-collapse: separate;

	border-style: solid;

	border-width: 1px;

	margin-top: 10px;

	width: 100%;

	border-color: #DDDDDD;

}

#marking-interface table.markingmanagercontainer table.forumheaderlist tbody td {

	border-color: #FFFFFF;

}

#page-fn_gradebook .iframeForum #forumiframe {

	display: none !important;

}

#page-fn_gradebook .fitem_feditor .fitemtitle {

	width: 1% !important;

}

.saprate-table #fitem_id_submitbutton .felement.fsubmit {

	margin-left: 36%;

	width: 50%;

}

.feditor {

	margin-left: 0% !important;

	width: 100% !important;

}

.ffilemanager {

	margin-left: 0% !important;

	width: 100% !important;

}

div.fn_plugin_wrapper{

	width: 70%;

	border: 8px solid #ebf3fe;

	text-align: left;

	padding: 10px;

	margin: 10px auto;

	background-color: #e4e4e4;

}



.previousfeedbackwarning {

    font-size: 140%;

    font-weight: bold;

    text-align: center;

    color: #500;

}



.submissionhistory {

    background-color: #b0b0b0;

}





.submissionhistory .cell {

    background-color: #D0D0D0;

}



.submissionhistory .cell.historytitle {

    background-color: #808080;

}



.submissionhistory .cell {

    background-color: #d0d0d0;

}



.submissionhistory .singlebutton {

    display: inline-block;

    float: right;

}



.submissionsummarytable .singlebutton {

    display: inline-block;

}



.submissionhistory .currentsubmission {

    display: block;

    border: dashed #202020 1px;

    padding: 5px;

    margin-top: 15px;

    margin-bottom: 15px;

}



.submissionhistory .generaltable {

    min-width: 500px;

    margin-left: auto;

    margin-right: auto;

}



.gradeform #fitem_id_resubmission .fitemtitle {

    width: 90% !important;

}



.gradeform #fitem_id_resubmission .felement {

	 margin-left:91% !important;

    width: 9% !important;

}



.gradeform #fitem_id_grade .fitemtitle {

    width: 67% !important;

}



.gradeform #fitem_id_grade .felement {

     margin-left:68% !important;

    width: 32% !important;

}



.gradeform #fitem_id_applytoall .fitemtitle {

    width: 88% !important;

}



.gradeform #fitem_id_applytoall .felement {

    margin-left:89% !important;

    width: 11% !important;

}

.editingstatus{

	font-size: 11px;

}

.editingstatus_msg{

	color:red;

}



div.submissionhistory_summary{

	padding: 0px !important;

	border: 0px !important;

    margin-top: 5px !important;

}



.submissionhistory_summary {

    background-color: #b0b0b0;

}



.submissionhistory_summary .bg_orange {

    background-color: #fde1ce !important;

}



.submissionhistory_summary .bg_green {

    background-color: #d3e0bc !important;

}



.submissionhistory_summary .cell.historyheader {

    background-color: #7092be;

    vertical-align: top;

}



.submissionhistory_summary .cell.historyheader a {

	color: yellow;

	font-weight: bold;

} 



.submissionhistory_summary .singlebutton {

    display: inline-block;

    float: right;

} 



.submissionhistory_summary .currentsubmission {

    display: block;

    border: dashed #202020 1px;

    padding: 5px;

    margin-top: 15px;

    margin-bottom: 15px;

}



.submissionhistory_summary .generaltable {

    min-width: 500px;

    width: 100%;

    margin-left: auto;

    margin-right: auto;

    border: 2px solid #7092be;

}



.submissionhistory_summary .generaltable td.cell{

    padding: 3px !important;

}





table.headertable{

	width: 100% !important;

	border: 0px !important;

    margin-bottom: 0 !important;

} 



.headertable td {

    border: 0px solid #dddddd !important;

    vertical-align: top;

}  



.historyheader.cell.c0.lastcol{

    padding: 0px;

}



a.marking_header_link, a.marking_header_link:visited, a.marking_header_link:hover, a.marking_header_link:active {

    color: yellow;

    font-weight: bold;

    text-decoration: none;

}

.teacherfeedback, .studentsubmission{

	margin: 0 !important;

}