.fn-highlighted {
    background-color: yellow !important;
}
table.fnmarkingblock td {
    border: 1px solid #7092be;
}
table.fnmarkingblock tr.normal {
    background-color: #FFFFFF;
}
table.fnmarkingblock tr.normal {
    background-color: #FFFFFF;
}
table.fnmarkingblock tr.marking-total {
    background-color: #7092be;
    color: white;
    font-size: 14px;
}
table.fnmarkingblock th.header {
    background: none;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}
table.fnmarkingblock th.topline {
    background-color: #7092be;
    color: #FFFFFF;
    border-left: 1px solid #7092be;
    border-right: 1px solid #7092be;
    border-top: 1px solid #7092be;
    padding: 7px 0;
}
table.fnmarkingblock th.bottomline {
    border-left: 1px solid #7092be;
    border-right: 1px solid #7092be;
    border-bottom: 1px solid #7092be;
    padding: 5px 0;
    font-weight: normal;
}
span.fn_summaries {
    font-size: 0.9em;
}
.sideblock .content hr {
    line-height: 5px;
    vertical-align: middle;
}
#marking-topmessage {
    width: 850px;
    margin: 0 auto 10px;
    background: #ff8c00;
    padding: 10px;
    color:white;
}

/* Large desktop */
@media (min-width: 1200px) {
    #marking-interface {
        margin: 0 auto;
        width: 1000px;
        overflow: hidden;
        display: table-cell;
    }
}
@media (min-width: 900px) and (max-width: 1200px) {
    #marking-interface {
        width: 1000px;
        margin: 0 auto;
        overflow: hidden;
        display: table-cell;
    }
}
@media (max-width: 767px) {
    #marking-interface {
        width: 1000px;
        margin: 0 auto;
        overflow: hidden;
        display: table-cell;
    }
}


#page-blocks-fn_marking-fn_gradebook #marking-interface table.fnmarkingblock {
    white-space: nowrap;
}
#marking-interface table.markingmanagercontainer td.left-sec {
    padding: 15px;
    max-width: 300px;
    min-width: 170px
}
#marking-interface table.markingmanagercontainer td.right-sec {
    padding: 10px 15px 0 0;
    width: 650px;
}
table.markingmanagercontainer td.right-sec .paging {
    margin: 0 0 10px 0;
}
table.markingmanagercontainer td.right-sec .saprate-table {
    background: #cbd7e7;
    border: 2px solid #7092be;
    margin-bottom: 30px;
}
.saprate-table td.yellowcell {
    background: #ffff99;
    padding: 7px;
}
.yellowcell .fitemtitle {
    text-align: left !important;
}
.saprate-table td.bluecell {
    background: #cbd7e7;
    padding:8px;
}
table.saprate-table td.markingmanager-head {
    background: #7092be;
}
table.saprate-table td.markingmanager-head-red {
    background: red;
}
table.saprate-table td.markingmanager-head-orange {
    background: orange;
}
table.saprate-table td.marking_rightBRD {

}
td.markingmanager-head .name-date,
td.markingmanager-head-red .name-date,
td.markingmanager-head-orange .name-date {
    margin: 0;
}
td.markingmanager-head .name-date td,
td.markingmanager-head-red .name-date td,
td.markingmanager-head-orange .name-date td {
    padding: 0;
    color: #FFF;
}
td.markingmanager-head .name-date td.leftSide,
td.markingmanager-head-red .name-date td.leftSide,
td.markingmanager-head-orange .name-date td.leftSide {
    font-size: 14px;
}
td.markingmanager-head .name-date td.rightSide,
td.markingmanager-head-red .name-date td.rightSide,
td.markingmanager-head-orange .name-date td.rightSide {
    font-size: 11px;
}
table.saprate-table td.markingmanager-headB {
    background: #749511;
}
table.saprate-table td.markingmanager-headB table.resourse-tab {
    margin: 0;
    background: #ffff66;
}
table.saprate-table td.markingmanager-headB table.resourse-tab #Submission {
    background: #fff;
}
.activity-name {
    text-align: center;
    font-weight: bold;
    padding: 0 5px 10px 5px;
}
table.saprate-table .grade-filter {
    margin: 0.5em 0 0.3em 0;
}
table.saprate-table .grade-filter #Grades {
    background: #fff;
}
table.saprate-table .grade-filter .fitem .fitemtitle {
    width: 50% !important;
}
table.saprate-table .grade-filter .fitem .felement {
    width: 44% !important;
    margin-left: 51% !important;
}
table.saprate-table .teacher-comments {
    background: #304c8a;
    margin-bottom: 0.5em;
}
table.saprate-table .teacher-comments .comment-boxs textarea {
    width: 100%;
}
.singleselect {
    display: inline-block;
}
#page-blocks-fn_marking-fn_gradebook .fnmarkingblock thead, .fnmarkingblock tbody td {
    border: 1px solid #7092be !important;
    padding: 5px;
}
.fnmarkingblock .marking-total > td:first-child,
.fnmarkingblock .normal > td:first-child,
.fnmarkingblock .highlight > td:first-child {
    text-align: right;
}
.no-assign {
    text-align: center;
    padding-top: 20px;
}
table.markingmanagercontainer td.right-sec .headTxt {
    text-align: center;
}
table.not-submitted {
    background: #FDE1CE !important;
    border: 1px solid #A7A7A7;
    margin-bottom: 4px !important;
}
table.not-submitted td {
    border: 1px solid #A7A7A7;
    padding:4px;
}
table.not-submitted td.rightName {
    font-size: 13px;
    font-weight: bold;
}
h4.head-title {
    padding: 0px 0 20px;
    text-align: center;
    font-size: 14px;
}
.markingmanagercontainerList {

}
.markingmanagercontainerList .intd {
    padding: 0;
}
.markingmanagercontainerList table {
    margin-bottom:0;
    border:1px solid #DDDDDD;
    border-collapse:separate;
    border-radius:6px;
    -moz-border-radius:6px;
    margin-bottom: 18px;
}
.markingmanagercontainerList table td {
    margin-bottom:0;
    border-left:1px solid #DDDDDD;
    border-top:1px solid #DDDDDD;
    padding: 10px;
}
.markingmanagercontainerList table td:first-child {
    border-left: none;
}
.markingmanagercontainerList table th {
    background-color: #eeeeee;
    border-top: none;
    border-left:1px solid #DDDDDD;
    color: #333333;
    font-size: 15px;
    padding: 10px;
}
.block_fn_marking.block.list_block .content ul.unlist li {
    margin-bottom: 0;
}

.markingmanagercontainer td.generalbox {
    background-color: #9dbb61;
}
.markingmanagercontainer td.generalbox2 {
    background-color: #C5EFFF;
}
#marking-interface table.markingmanagercontainer table.forumheaderlist {
    border-collapse: separate;
    margin-top: 10px;
    width: 100%;
    border: 1px solid #DDDDDD;
}
#marking-interface table.markingmanagercontainer table.forumheaderlist tbody td {
    border-color: #FFFFFF;
}
#page-fn_gradebook .iframeForum #forumiframe {
    display: none !important;
}
#page-fn_gradebook .fitem_feditor .fitemtitle {
    width: 1% !important;
    display: none;
}
.saprate-table #fitem_id_submitbutton .felement.fsubmit {
    margin-left: 36%;
    width: 50%;
}
#marking-interface .feditor {
    margin-left: 0 !important;
    width: 100% !important;
}
.ffilemanager {
    margin-left: 0 !important;
    width: 100% !important;
}
.fn_plugin_wrapper_outer {
    float: left;
    margin: 10px auto;
    width: 50%;
}
div.fn_plugin_wrapper {
    background-color: #e4e4e4;
    border: 8px solid #ebf3fe;
    margin: 0 3px;
    padding: 10px;
    text-align: left;
}
.previousfeedbackwarning {
    font-size: 140%;
    font-weight: bold;
    text-align: center;
    color: #500;
}
.submissionhistory {
    background-color: #b0b0b0;
}
.submissionhistory .cell {
    background-color: #D0D0D0;
}
.submissionhistory .cell.historytitle {
    background-color: #808080;
}
.submissionhistory .cell {
    background-color: #d0d0d0;
}
.submissionhistory .singlebutton {
    display: inline-block;
    float: right;
}
.submissionsummarytable .singlebutton {
    display: inline-block;
}
.submissionhistory .currentsubmission {
    display: block;
    border: dashed #202020 1px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.submissionhistory .generaltable {
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.gradeform #fitem_id_addattempt .fitemtitle {
    width: 92% !important;
    text-align: right !important;
}
.gradeform #fitem_id_addattempt .felement {
    /*margin-left:96% !important;
    width: 2% !important;*/
}
.gradeform #fitem_id_grade .fitemtitle {
    width: 73% !important;
    text-align: right !important;
}
.gradeform #fitem_id_grade .felement {
    margin-left:68% !important;
    width: 32% !important;
}
.gradeform #fitem_id_grade.fitem_fselect .fitemtitle {
    text-align: right !important;
    width: 50% !important;
}
.gradeform #fitem_id_grade.fitem_fselect .felement {
    margin-left: 50% !important;
    width: 50% !important;
}
.gradeform #fitem_id_applytoall .fitemtitle {
    width: 88% !important;
}
.gradeform #fitem_id_applytoall .felement {
    margin-left:89% !important;
    width: 11% !important;
}
.editingstatus {
    font-size: 12px;
}
.editingstatus_msg {
    color:red;
}
div.submissionhistory_summary {
    padding: 0 !important;
    border: 0 !important;
    margin-top: 5px !important;
}
.submissionhistory_summary {
    background-color: #b0b0b0;
}
.submissionhistory_summary .bg_white {
    background-color: #ffffff !important;
}
.submissionhistory_summary .bg_orange {
    background-color: #fde1ce !important;
}
.submissionhistory_summary .bg_green {
    background-color: #d3e0bc !important;
}
.submissionhistory_summary .bg_grey {
    background-color: lightgrey !important;
}
.submissionhistory_summary .cell.historyheader {
    background-color: #7092be;
    vertical-align: top;
}
.submissionhistory_summary .singlebutton {
    display: inline-block;
    float: right;
}
.submissionhistory_summary .currentsubmission {
    display: block;
    border: dashed #202020 1px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.submissionhistory_summary .generaltable {
    min-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #7092be;
}
.submissionhistory_summary .generaltable td.cell {
    padding: 3px !important;
}
table.headertable {
    width: 100% !important;
    border: 0 !important;
    margin-bottom: 0 !important;
}
.headertable td {
    border: 0 solid #dddddd !important;
    vertical-align: top;
    background-color: #7092be !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 16px !important;
}
.historyheader.cell.c0.lastcol {
    padding: 0;
}
a.userlink, a.userlink:visited, a.userlink:hover, a.userlink:active {
    color: yellow !important;
    text-decoration: none;
    font-weight: bold;
}
a.marking_header_link, a.marking_header_link:visited, a.marking_header_link:hover, a.marking_header_link:active {
    color: yellow !important;
    text-decoration: none !important;
    font-size: 12px !important;
}
a.assignmentlist, a.assignmentlist:visited, a.assignmentlist:hover, a.assignmentlist:active {
    color: #375FAF !important;
}
span.marking_header_link{
    font-size: 12px;
}
.teacherfeedback, .studentsubmission {
    margin: 0 !important;
}
div#marking-interface table.markingmanagercontainer td.left-sec table.fnmarkingblock div.singleselect {
    margin: 0 0 0 0;
}
div#marking-interface table.markingmanagercontainer td.left-sec table.fnmarkingblock div.singleselect select.singleselect {
    margin: 0 0 0 0;
    text-align: left;
}
div.navbar div.navbutton div.singleselect select.singleselect {
    margin: 5px 0 0 0;
    text-align: left;
}
.unsubmitted_header {
    background-color: #7092BE;
    padding:10px 10px 10px 25px;
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.unsubmitted_header a:link, .unsubmitted_header a:visited, .unsubmitted_header a:hover, .unsubmitted_header a:active {
    color: yellow;
    font-weight: bold;
    text-decoration: none;
}
p.unsubmitted_msg {
    font-weight: bold;
    font-size: 14px;
    margin: 0 0 10px 0;
}
span.teacher_feedback_info{
    font-size: 12px;
}
div#marking-interface td.markingmanager-head fieldset.hidden,
div#marking-interface td.markingmanager-head-red fieldset.hidden,
div#marking-interface td.markingmanager-head-orange fieldset.hidden {
    background: transparent !important;
    border: 0 solid #DADADA !important;
    margin: 0 !important;
}
div#marking-interface td.markingmanager-head fieldset.hidden div,
div#marking-interface td.markingmanager-head-red fieldset.hidden div,
div#marking-interface td.markingmanager-head-orange fieldset.hidden div {
    margin: 0 !important;
}
.markingmanager-head input#id_savegrade {
    font-size: 15px;
    padding: 2px 10px;
}
td.markingmanager-head,
td.markingmanager-head-red,
td.markingmanager-head-orange {
    line-height: 14px;
    padding: 3px 3px 0 3px;
}
.teacherfeedback td {
    padding: 0;
}

.studentsubmission td {
    padding: 0;
}

.headertable td {
    line-height: 13px;
    padding: 0;
}
.headertable div {
    margin-left: 5px;
}


table.simplegradebook {
    text-align: center;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 11px;
    color: #fff;;
    border-collapse: collapse;
    margin-top: 10px;

}
table.simplegradebook td {
    color: #000;
    padding: 4px;
    text-align: left;
    border: 1px #dddddd solid;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 11px;
}
table.simplegradebook td.green {
    background-color: #C2D69B !important;
}
table.simplegradebook td.red {
    background-color: #E5B8B7 !important;
}
table.simplegradebook tr.highlight td.green {
    background-color: #C2D69B !important;
}
table.simplegradebook tr.highlight td.red {
    background-color: #E5B8B7 !important;
}
table.simplegradebook tr.highlight td {
    background-color: #FFFF99 !important;
}
table.simplegradebook tr:hover td {
    background-color: #ffeba4 !important;
}
table.simplegradebook td.icon {
    text-align: center;
}
table.simplegradebook td div.row-toggle {
    margin-left: -30px;
    margin-right: 6px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
    float: left;
    display: block;
    background: transparent url('[[pix:block_fn_marking|highlightoff]]') no-repeat 50% 50%;
}
table.simplegradebook td div.row-toggle.highlighted {
    background: transparent url('[[pix:block_fn_marking|highlighton]]') no-repeat 50% 50%;
}
table.simplegradebook th {
    background-color: white;
    border: 1px solid #dddddd !important;
    color: #555555;
    font-size: 12px;
    font-weight: normal;
    padding: 4px;
    text-align: center;
}
table.simplegradebook th.mod-icon {
    background-color: #F2F2F2;
    color: #666;
    padding: 4px;
    text-align: center;
    border: 1px #dddddd solid;
    font-size: 12px;
    font-weight: bold;
}
table.simplegradebook td.empty-week {
    background-color: #D9D9D9;
    color: #fff;
    padding: 4px;
    text-align: center;
    border: 1px #dddddd solid;
    font-size: 12px;
    font-weight: bold;
}
#page-simple_gradebook .groupselector {
    margin-left: 15px;
}
.fn-menuwrapper {
    text-align: right;
    margin: 0 auto 10px;
    width: 852px;
}
div.fn-menuwrapper div.groupselector div.singleselect{
    margin: 1px 0 !important;
}
div.fn-menuwrapper div.groupselector div.singleselect .singleselect{
    margin: 0 !important;
}
div.tablecontainer {
    display: table;
    margin: 0 auto 25px;
    overflow: auto;
}
.fn_quiz_header {
    background-color: #7092be;
    color: white;
    font-size: 16px;
    overflow: hidden;
    padding: 10px 15px;
}.fn_forum_header {
     background-color: #7092be;
     color: white;
     font-size: 16px;
     overflow: hidden;
     padding: 5px 1px;
    clear: right;
 }
.fn_quiz_header > img {
    margin: 0 5px 0 0;
}
.quiz-top-menu {
    overflow: hidden;
    padding: 8px 9px 12px 5px;
}
.qall-participants {
    float: right;
    margin-right: 40px;
}
.qdefault-view {
    float: right;
}
table#forum-header-tbl {
    font-size: 12px;
    width: 100%;
}
td.forum-header-data {
    color: yellow;
}
.fn-forum-numberofpost {
    float: left;
    width: 60px;
    font-weight: bold;
    padding: 8px 0;
    text-align: center;
}
.fn-forum-numberofreplies {
    float: left;
    width: 60px;
    font-weight: bold;
    padding: 8px 0;
    text-align: center;
}
.fn-forum-rating {
    float: left;
    width: 80px;
    font-weight: bold;
    padding: 8px 0;
    text-align: center;
}
.fn-forum-student {
    float: left;
    font-weight: bold;
    margin-left: 50px;
    padding: 8px 0;
    text-align: center;
    width: 80px;
}
table.fn-forum-list-header {
    background: #EDEDED none repeat scroll 0 0 !important;
    border: 1px solid #a7a7a7;
    margin-bottom: 4px !important;
}
#page-fn_gradebook .fitem_f .fitemtitle {
    display: none;
}
#page-fn_gradebook .fitem_f .felement.f{
    margin-left: 0 !important;
    width: 100% !important;
}
.fn-admin-warning {
    color: red;
}
#fn-quiz-grading {
    border: 1px solid #BBB;
    border-collapse: collapse;
    font-size: 12px;
}
#fn-quiz-grading td, #fn-quiz-grading th {
    text-align: center !important;
    border: 1px solid #BBB !important;
    padding: 3px;
    vertical-align: middle;
    min-width: 28px;
}
img.fn-icon {
    height: 16px;
    padding-right: 0 !important;
    vertical-align: text-bottom;
    width: 16px;
}
#fn-quiz-grading .header {
    font-weight: normal;
    font-size: 12px;
}
.header.cname,
.header.cinstitution,
.header.csumgrades {
    font-weight: bold !important;
}
#fn-quiz-grading .cell.c1,
#fn-quiz-grading .cell.c2,
#fn-quiz-grading .cell.c3 {
    font-size: 12px;
}
#fn-forum-grading {
    border: 1px solid #BBB;
    border-collapse: collapse;
}
#fn-forum-grading th {
    font-size: 12px;
}
td.fn-posts, td.fn-replies, td.fn-rating,
th.fn-student, th.fn-posts,th.fn-replies, th.fn-rating {
    text-align: center !important;
    border: 1px solid #BBB !important;
}
.block_fn_marking .content {
    font-size: 1em !important;
}

.block_fn_marking dl,
.block_fn_marking dt,
.block_fn_marking dd,
.block_fn_marking ul,
.block_fn_marking li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.block_fn_marking .gm_icon {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 4px;
}

.block_fn_marking .cmod {
    line-height: 16px;
    margin: 6px 0 2px 0;
}

.block_fn_marking .module {
    line-height: 16px;
    position: relative;
    padding: 3px 0 3px 20px;
}

.block_fn_marking .toggle {
    position: relative;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    cursor: pointer;
    margin-right: 5px;
    background: transparent url('[[pix:core|t/expanded]]') no-repeat 50% 50%;
}

.block_fn_marking .togglezero {
    background: none;
    cursor: none;
    display: block;
    float: left;
    height: 16px;
    left: 0;
    position: relative;
    width: 16px;
}

.block_fn_marking .bullet {
    position: relative;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    cursor: pointer;
    background: transparent url('[[pix:block_fn_marking|navigationitem]]') no-repeat 50% 50%;
}

.block_fn_marking .toggle.open {
    background: transparent url('[[pix:core|t/collapsed]]') no-repeat 50% 50% !important;
}

.block_fn_marking .toggle.open + a {
    font-weight: normal !important;
}

.jsenabled .block_fn_marking_hide {
    display: none;
}

.block_fn_marking .cloakable {
    line-height: 1em;
    margin: 0 0 3px 0;
    border-top: 1px dotted #ccc;
}

.block_fn_marking .gradable {
    padding: 2px 0;
    border-bottom: 1px dotted #ccc;
}

.block_fn_marking .gradable .gm_icon {
    margin-top: 1px;
}

.block_fn_marking .cloakable * {
    font-size: 9px;
}

.block_fn_marking .empty {
    line-height: 15px;
}

.block_fn_marking .empty img {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 4px;
}

.block_fn_marking .excess {
    margin-top: 4px;
    padding: 4px 16px;
    text-align: center;
    font-weight: bold;
    color: rgb(205,0,0);
}
/* Large desktop */
@media (min-width: 1200px) {
    .block_fn_marking li .column.c1 {
        clear: right;
        max-width: 90%;
    }
}
@media (min-width: 900px) and (max-width: 1200px) {
    .block_fn_marking li .column.c1 {
        clear: right;
        max-width: 83%;
    }
}
@media (min-width: 767px) and (max-width: 900px) {
    .block_fn_marking li .column.c1 {
        clear: right;
        max-width: 80%;
    }
}

.block_fn_marking li .icon.column {
    float: left;
}
.fn-expand-btn {
    text-align: right;
}
.block_fn_marking.card.m-b-1 ul {
    margin-left: 0 !important;
}
.block_fn_marking .fn-full-width {
    width: 100%;
}
#page-blocks-fn_marking-coursecategories table.notification ul {
    list-style: outside none none;
}
#page-blocks-fn_marking-coursecategories .felement.fstatic {
    margin-left: 0 !important;
}
#page-blocks-fn_marking-coursecategories  .ned-form-course-category {
    font-weight: bold;
}
.block_fn_marking  .fn_refresh_wrapper {
    color: #999;
    font-size: 0.95em;
    text-align: right;
}
.block_fn_marking  .fn_refresh_wrapper_footer {
    color: #999;
    font-size: 0.95em;
    text-align: center;
}
#page-blocks-fn_marking-update_cache #notice {
    text-align: center;
    width: 100%;
}
#page-blocks-fn_marking-update_cache .page-title {
    text-align: center;
}
#page-blocks-fn_marking-progress_report .fn-menuwrapper .groupselector {
    margin-right: 10px;
}
#page-blocks-fn_marking-fn_gradebook #fitem_id_editpdf .fitemtitle {
    width: 135px;
}
#page-blocks-fn_marking-fn_gradebook #fitem_id_editpdf .felement.fstatic {
    margin-left: 140px;
}
#page-blocks-fn_marking-fn_gradebook .fitem_ffilemanager .fitemtitle {
    margin-bottom: -20px;
    overflow: hidden;
    width: 100% !important;
}
.fn_plugin_wrapper_outer {
    display: inline-block;
    margin: 10px auto;
    width: 50%;
    vertical-align: top;
}
#fitem_id_assignfeedbackcomments_editor div.fitemtitle {
    display: none;
}
#page-blocks-fn_marking-fn_gradebook .fnmarkingblock .highlight {
    background: #ff9 !important;
}
#page-blocks-fn_marking-fn_gradebook table.journaluserentry {
    width: 100%;
}
#page-blocks-fn_marking-fn_gradebook table.journaluserentry textarea {
    width: 98%;
}
#page-blocks-fn_marking-fn_gradebook .lastedit {
    margin-bottom: 12px;
}
#page-blocks-fn_marking-fn_gradebook .default-grade-view {
    float: right;
    margin-bottom: 10px;
    margin-top: -30px;
}
#page-blocks-fn_marking-fn_gradebook .default-grade-view-nobtn {
    float: right;
    margin-bottom: 10px;
}
#page-blocks-fn_marking-fn_gradebook #fitem_id_assignfeedbackcomments_editor textarea {
    width: 98%;
    height: 160px;
}
#page-blocks-fn_marking-fn_gradebook textarea#id_assignfeedbackcomments_editor {
    height: 160px;
}
#page-blocks-fn_marking-fn_gradebook .ned-change-html-editor-wrapper {
    margin: 0;
}
#page-blocks-fn_marking-fn_gradebook td.overriden-grade-menu {
    background-color: #ffd3b7;
    font-size: 12px;
    padding: 5px;
    text-align: center;
    position: relative;
}
#page-blocks-fn_marking-fn_gradebook .ned-locked-icon {
    background-color: white;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 10px;
    padding: 5px;
}
#page-blocks-fn_marking-fn_gradebook #fitem_id_editpdf {
    text-align: right;
}
#page-blocks-fn_marking-fn_gradebook #fitem_id_editpdf .fstaticlabel,
#page-blocks-fn_marking-fn_gradebook #fitem_id_editpdf .fitemtitle {
    display: none;
}
#page-blocks-fn_marking-fn_gradebook .online-submission-wrapper {
    margin: 10px 0;
}
#page-blocks-fn_marking-fn_gradebook .right-align {
    position: absolute;
    right: 10px;
    top: 6px;
}
#page-blocks-fn_marking-fn_gradebook .nograde-wrapper {
    margin: 10px 0;
}
#page-blocks-fn_marking-progress_report .borderless-cell {
    border-left: 0 none !important;
    border-right: 0 none !important;
    border-top: 0 none !important;
}
#page-blocks-fn_marking-fn_gradebook .course-average-warning {
    margin-top: 15px;
    text-align: center;
}
#page-blocks-fn_marking-progress_report .course-average-warning {
    margin-top: 15px;
    text-align: center;
}
#page-blocks-fn_marking-progress_report .course-average-warning {
    color: red;
}